@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Yusei Magic', sans-serif;
}
.header{
    color: white;
    display : grid;
    grid-template-columns: 1fr;
    background-color: #030303;
    width: 100%;
    height: 250px;
    text-align: center;

}
.navigation{
    display : grid;
    grid-template-columns:repeat(6,1fr);
    /* background: rgb(236, 8, 8); */
}
.box{
    /* width: 100%; */
    border-right: 2px solid #e8f4ff;
    background:black;
    padding: 15px 0;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-box{
    text-align:right;
    font-size: 20px;
}
.icon{
    text-align: right;
}
.fas{
    font-size: 30px;
}

.box:hover{
    background: #659ad2;
}



a{
    color:black;
}

body{
    background: rgb(246,246,246);
}

.container{
    background: rgb(246,246,246);
    font-size: 20px;
}


.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: right;
}

.nav a{
    text-decoration: none;
}

.section{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.profile{  
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.2);
    padding: 20px;
    background-color: white;
}

.profile img{
    width: 100%;
}

.name{
    margin-top: 30px;
}

.area{
    padding: 20px 30px;

}
.container-grid{
    margin-left: 200px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 200px;
    gap: 20px;
}

.grid a{
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.2);
    padding: 10px;
    width: 80px;
}

.grid{ 
    /* width: 80px; */
    /* height: 80px; */
    transition: 0.2s ease;
    display: grid;
    grid-template-columns: 80px 1fr;
}

.grid a img{
    width: 80px;
}

.text{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 900px;
    margin-left: 80px;
}
.grid a:hover{
    background: #659ad2;
    color: #fff;
}
.contact{
    text-align: center;
    padding: 20px;
}
.contact a{
    text-decoration: none;
    transition: 0.2s ease;
}

.grid:hover .contact a{
     color:#fff;
}

.grid-article{
    transition: 0.2s ease;
    display: grid;
    grid-template-columns: 1fr;
}
.areaProfile{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.profile-head {
    display: grid;
    grid-template-columns: 280px 1fr;
    padding: 40px 80px;
}

.profile-head .head-img{
    height: 200px;
    width: 200px;
    background-image: url('https://scontent.fbkk5-4.fna.fbcdn.net/v/t1.0-9/50422478_1089429031238515_5625238875115880448_o.jpg?_nc_cat=103&ccb=2&_nc_sid=84a396&_nc_eui2=AeHjfrOkRG0bDkrHYMeLJiifbI_X5YR0yYZsj9flhHTJhuWQ9LTlkAth2Y_t2iPRCRc3Jjml_5bwYYb9-oN-ypj2&_nc_ohc=mgzLSSmvi_8AX8_gW9X&_nc_ht=scontent.fbkk5-4.fna&oh=d111468aa58821a9085f9448f9252377&oe=6045E524');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    /* margin: 50px; */
}

.head-text{
    display: flex;
    align-items: center;
}

.head-text-name{
    font-size: 25px;
}

.story{
    padding: 40px 0;
    margin: 0px 50px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    border-bottom: 1px solid #cccccc;
    height: fit-content;
}

.head-img-border{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 210px;
    width: 210px;
    border-radius: 100%; 
    border: 1px solid #cccccc;
}

.border-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95px;
    width: 95px;
    border-radius: 100%; 
    border: 1px solid #cccccc;
}

.story-img{
    height: 90px;
    width: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;     
}

.story-text{
    text-align: center;
}

.profile-nav{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin: 0 250px;
    margin-top: -90px;
}

.profile-nav-link{
    padding: 8px;
    text-align: center;
    font-size: 15px;
    color: #cccccc;
    cursor: pointer;
    transition: all .3s ease;
}

.profile-nav-link .fas{
    font-size: 15px;
}

.profile-nav-link:hover{
    color: rgb(59,59,59);
    border-top: 2px solid rgb(59,59,59);
}

.profile-nav-link-active{
    padding: 8px;
    text-align: center;
    font-size: 15px;
    color: rgb(59,59,59);
    border-top: 2px solid rgb(59,59,59);
}

.profile-nav-link-active .fas{
    font-size: 15px;
}

.box-active{
    background:black;
    color: rgb(184, 83, 43);
    display: flex;
    justify-content: left; 
    padding: 15px 0;
    padding-left: 30px;
    border-right: 10px solid rgb(184, 83, 43);
}


.post{
    margin: 0 30px;
    margin-top: -50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.post-grid{
    height: 350px;
    width: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    margin-bottom: 25px;
}

.post-grid:hover .back-drop{
    display: block;
}

.post-like{
    color: #fff;
    display: flex;
    height: 350px;
    width: 350px;
    justify-content: center;
    align-items: center;
}

.back-drop{
    display: none;
    height: 350px;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.4); 
}

.post-information{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    grid-template-columns: 600px 400px;
    padding: 100px 200px;
    background-color: rgba(0, 0, 0, 0.4);
    background-size: 100vh 100vw;
}

.post-information-img{
    height: 600px;
    width: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.post-information-text{
    padding: 20px;
    width: 400px;
    height: 560px;
    background-color: whitesmoke;
    text-align: justify;
}



